{% extends "template.html" %}
{% block conteudo %}
    <form class="formularioLivro" action="{{ url_for('criar') }}" method="post" enctype="multipart/form-data">

        <figure class="img thumbnail col-md-4 formularioImagem">
            <img class="img-fluid" src="{{ url_for('imagem', nome_arquivo='capa_padrao.jpg') }}">
            <figcaption>
                <label class="fileContainer">
                    Mudar Capa
                    <input type="file" name="arquivo" accept=".jpg">
                </label>
            </figcaption>
        </figure>

        <fieldset>
            {{ form.csrf_token() }}
            <div class="form-group inputBox">
                {{ form.titulo.label(class="form-label") }}
                {{ form.titulo(class="form-control") }}
            </div>
            <div class="form-group inputBox">
                {{ form.genero.label(class="form-label") }}
                {{ form.genero(class="form-control") }}
            </div>
            <div class="form-group inputBox">
                {{ form.autor.label(class="form-label") }}
                {{ form.autor(class="form-control") }}
            </div>
            <div class="form-group inputBox">
                {{ form.editora.label(class="form-label") }}
                {{ form.editora(class="form-control") }}
            </div>
            <div class="form-group buttons">
                {{ form.salvar(class="btn btn-primary") }}
                <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
            </div>
        </fieldset>
    </form>
{% endblock %}
